extends layout
include mixins

block body

	.container

		//- Navbar with dropdowns, default color
		+nav("The Robo Feeder", "dropdown_menu", "inverse")

		//- Jumbotron inside container
		.jumbotron
			h1 Remote Control
			p These are simple buttons to send commands to the Raspberry Pi.
			+button("primary", "api/gpio/signal", "large") Signal
			| &nbsp;
			+button("success", "api/gpio/start", "large") Start
			| &nbsp;
			+button("danger", "api/gpio/stop", "large") Stop

			div(ng-controller='AppCtrl')
				h2 Hello {{name}}
				ul.menu
					li
					a(href='view1') view1
					li
					a(href='view2') view2

			div(ng-view)

	script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
	script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
	script(src='/socket.io/socket.io.js')
	script(src='bower_components/angular/angular.js')
	script(src='bower_components/angular-route/angular-route.js')
	script(src='bower_components/angular-socket-io/socket.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')