include mixins

!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )

    base(href='/')
    title Robo Feeder App
    link(rel='stylesheet', href='/css/app.css')
    //- Bootswatch Theme
    +bootswatch("flatly")
  body
    block body